# Environment
.env

# Local database files
*.db
*.sqlite

# Python
__pycache__/
*.py[cod]
*.pyo

# Virutal environment
.venv/
venv/

# Poetry
poetry.toml

# Tests
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# System files
.DS_Store